.itemDetail {
	display: flex;
}
.itemDetail .imgWrapper {
	width: 300px;
}

.itemDetail .infoWrapper {
	margin-left: 40px;
}

.itemDetail .buyWrapper {
	margin-left: 40px;
}

.buyButton {
	background-color: #6a0400;
	color: #d8b576;
	font-size: 17px;
	font-weight: bold;
	width: 200px;
	height: 40px;
	margin-top: 20px;
}

.itemDetail .price {
	font-weight: bold;
	font-size: 20px;
	margin-top: 15px;
}

.itemDetail .infoWrapper .title {
	font-size: 40px;
}
