.itemDetail {
	width: 170px;
	height: 380px;
	margin-bottom: 30px;
	margin-right: 25px;
	border: 1px solid grey;
	border-radius: 5px;
}

.itemDetail :hover {
}

.itemDetail .infoWrapper {
	margin-bottom: 10px;
}

.infoWrapper .title {
	font-size: 20px;
	padding: 2px 3px 3px 0;
	color: black;
	/* 	text-align: center; */
}

.infoWrapper .description {
	color: black;
}

.infoWrapper .price {
	color: black;
}

.imageDetail {
	max-width: 100%;
}
