.header {
	background-color: #6a0400;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: 65px;
	/* 	position: fixed;
	top: 0;
	width: 100%; */
}

.header .title {
	/* border: 2px solid black; */
	color: #ffd987;
	font-size: 25px;
}
